@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=JetBrains+Mono&display=swap');
 
 *
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

body
{
   font-family: 'Poppins', sans-serif;
   background-image: url('/material/a-nice-sun-set-wallpaper.jpg');
   background-color: #261935;
   background-size: cover;
   background-repeat: no-repeat;
}

header
 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
 }

.title
{
   color: azure;
   text-align: center;
   font-size: 45px;
   text-transform: capitalize;
   font-family: 'Fredoka One';
}

.about  
{
   text-align: center;
   font-family: 'Fredoka One';
   font-size: larger;
   color: #a4a4a4;
}

 .nav
 {
    width: 280px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: solid 3px #666666;
    padding: 20px;
 }

 .nav ul
 {
    list-style: none;
    padding: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: grid;
    text-transform: uppercase;
    text-align: center;
    height: 140px;
    width: 280;
 }

 .nav ul li
 {
   height: 23px;
 }

 .list a
 {
    font-size: 22px;
    font-family: 'Fredoka One';
    text-decoration: none;
    color: black;
 }

 .list a:hover
 {
   text-decoration: wavy;
   color: rgba(0, 0, 0, 0.5);
   font-size: 27px;
 }

.dot {
   left: 25px;
   top: 25px;
   height: 45px;
   width: 45px;
   background: rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   border: solid 3px #666666;
   display: inline-block;
   position: relative;
 }

.icon
{
   position: relative;
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: 40px;
}

 @media (max-width: 768px)
 {
   .about
   {
      color: #d7d1d1;
   }

   body
   {
      background-image: url("https://www.itl.cat/pngfile/big/123-1235712_hd-wallpaper-4k-minimalist-wallpaper-phone.jpg");  
      background-size:     cover;
      background-repeat:   no-repeat;
      background-color: #210011;
   }
 }